<footer class="page-footer grey darken-4">
  <div class="container">
    <div class="row">
      <div class="col l8 s6">
        <h5 class="white-text">FlyMore</h5>
        <p class="grey-text text-lighten-4">An Indian online travel company founded in 2008 by Navneet. Headquartered in New Delhi, the company provides hotel bookings, air tickets, holiday packages, bus bookings, and white-label services</p>
      </div>
      <div class="col l3 offset-l1 s6">
        <h5 class="white-text">Our Social</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright black">
    <div class="container">
    © 2021 Copyright - <a href="https://rubyastra.wordpress.com/">RubyAstra</a>
    </div>
  </div>
</footer>
    